/motion-detection/build/motion_detect_build/
/motion-detection/build/qt_region_app_build/
/motion-detection/motion_src/src/motion_detect/dist/
/motion-detection/motion_src/src/motion_web/nbproject/private/

.DS_Store